CLAUDE_MODEL="nvidia/nemotron-3-super-120b-a12b:free"
ANTHROPIC_API_KEY="sk-or-your-openrouter-key-here"

# Set to 1 if you're using uv to run the project
# Set to 0 if you're *not* using uv
USE_UV=1
